.content__inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    border: 2px solid blue;
}
.information__input--display {
    display: flex;
}
.information__input {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
    label {
        font-size: 0.9em;
        margin-top: 15px;
    }
    input {
        border: none;
        border-bottom: 1px solid gray;
        height: 6vh;
        width: 80%;
        font-size: 1em;
    }
}